$main-font: 'Montserrat', sans-serif;
$second-font: 'Roboto', serif;
$third-font: 'Kaushan Script';

$color-white: #fff;
$color-yellow: #fce38a;
$color-yellow-second: #dfb776;
$color-grey: #333;
$color-grey-second: #999999;
$color-violet: #f38181;
$color-icon-first: #95e1d3;
