.team {
  padding-top: 45px;
  padding-bottom: 80px;
}

.team__title-wrap {
  margin-bottom: 45px;
}

.team__description {
  font-family: $second-font;
  text-align: center;
  color: $color-grey-second;
  max-width: 962px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.6em;
  margin-bottom: 90px;
}

.team__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.team__card {
  width: 380px;

  &:hover .team__overlay-wrap,
  &:focus .team__overlay-wrap {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0 #95e1d3;
  }

  &:hover .team__overlay,
  &:focus .team__overlay {
    opacity: 1;
    visibility: visible;
  }
}

.team__overlay-wrap {
  margin-bottom: 30px;
  position: relative;
  transition: all 0.2s linear;
}

.team__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    rgba(252, 227, 136, 0.9),
    rgba(243, 129, 129, 0.9)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.team__title {
  font-size: 14px;
  color: $color-grey;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 15px;
}

.team__spec {
  font-family: $second-font;
  font-weight: 300;
  font-style: italic;
  color: $color-grey-second;
}
